<main class="main container">
  <div class="box container">
    <div class="main__header"><p class="main__header__p">Directory</p></div>

    <div class="main__body">

      <div class="main__body__search container">
        <p class="search__p">filter contacts by name: </p>
        <input class="search__input" type="text" name="contact" />
      </div>

      <div *ngFor = "let contact of contacts" class="main__body__contact container">
        <div class="contact__category container"><p class="contact__category__p {{contact.category}}">{{contact.category.toUpperCase()}}</p></div>
        <p class="contact__name">{{contact.name}}</p>
        <div class="contact__delete container"><p class="contact__delete__p">Delete</p></div>
      </div>

    </div>

    <form class="main__add container">
      <div class="add__category container">
        <select class="add__category__select">
          <option value="Friend">Friend</option>
          <option value="Work">Work</option>
          <option value="College">College</option>
          <option value="Family">Family</option>
        </select>
      </div>
        <input class="add__name" type="text" placeholder="Enter Name"/>
        <div class="add__button"><button class="add__button__button" (click) = "onAdd($event)">Add</button></div>
    </form>
  </div>
</main>